body {
    background-color: while;
    text-decoration-style: solid black;
    color: black;
    text-align: center;
    
}

.resize {
    display: center;
    width: 50% ;
    height: auto;
}

.button {
    background-color: red;
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;
}

#wrapper {
    bottom: 50%;
    right: 50%;
    position: absolute;

}

